.bg{
    background: #00A78E;
    color: white;
}
 .btn {
  color: black;
  background-color: #fff;
  border: none;
  margin-left: 150px;
}

 .btn:hover {
    color: black;
  background-color: #e2e6ea !important;
}