/* Default - Desktop */
.react-img {
  margin-left: 0; /* No left margin on large screens */
}
.skills-section{
    background: linear-gradient(135deg, white 50%, blue 50%);
}
.skills-section img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.skills-section img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Tablet View (width ≤ 991px) */
@media (max-width: 991px) {
  .react-img {
    margin-left: 20px; /* Adjust as needed */
  }
}

/* Mobile View (width ≤ 767px) */
@media (max-width: 767px) {
  .react-img {
    margin-left:-20px; /* You can increase it here if needed */
  }
  .boot-img{
    margin-left:80px;
  }
}
